$bg-color: #0a0c1b;
$primary-color: #ae5ddb;
$secondary-color: #1c1938;
$white-color: #fff;
$font-color: #9390ad;

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

